@import url(http://fonts.googleapis.com/css?family=Cookie);@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');@import url('http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600');*{font-family:'open sans', Arial, sans-serif;font-weight:300;}
body{font-family:'Raleway', Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;margin:0;background-color:#FCFCFC;color:#2d4050;-webkit-font-smoothing:antialiased !important;}
.bg-silver-light{background:#fafafa}
.bg-white{background:#fff !important;}
.no-border-radius{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.no-shadow{box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.cl-blue-light{color:#5790dc;}
.cl-pink-light{color:#FB5D85;}
.cl-silver{color: #878787;}
.no-padding-bottom{padding-bottom:0 !important;}
.no-padding-top{padding-top:0 !important;}
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.no-margin-bottom{margin-bottom:0 !important;}
.modal-header .close{font-size:29px;}
.font-nomal{font-weight:normal;}
.formPreLoad{display:none}
.font-weight-100{font-weight:100 !important;}
.loading{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(255, 255, 255, 0.71);z-index:1100;text-align:center;display:none;}
.loading img{background:#FFF;border-radius:74px;-moz-border-radius:74px;-webkit-border-radius:74px;padding:20px;margin-top:18%;}
header{background-color: #1582DC; }
header ul li:last-child{ background: #527592; }
header.fixed{ position: fixed;top: 0;z-index: 1000;width: 100%; }
.form-search-menu{margin-top:10px}
#header-title, .header-title{padding-top:67px;}
.sectionTitle{font-size:30px;text-transform:uppercase;color:#282828;text-align:center;line-height:22px;font-weight:300;margin:0px;}
.sectionTitle.text-left{text-align:left;}
.titleHR{background:none repeat scroll 0 0 #e1e1e1;height:1px;margin:25px auto 0;position:relative;text-align:center;width:230px;margin-bottom:40px;}
.titleHR span{background:none repeat scroll 0 0 #f78775;display:inline-block;height:3px;left:0;margin:0 auto;position:absolute;right:0;top:-1px;width:70px;}
.header-title-2{border-bottom:1px #CCC solid;}
.header-title-2 h4{font-family:open sans;font-weight:400;display:inline-block;border-bottom:5px #555 solid;margin-bottom:0;padding-bottom:6px;}
ul#top_nav{list-style:none;padding:0;margin:10px 15px 0 0;font-size:12px;float:right;}
ul#top_nav li a{color:#488dc6;}
ul#top_nav li a:hover{color:#8AB9E0;}
ul#top_nav li:first-child{border-left:none;}
ul#top_nav li{display:inline-block;border-left:1px solid #333;height:12px;line-height:12px;padding-right:5px;padding-left:7px;}
/*nav{background-color:#1582dc;border-bottom:1px solid rgba(146, 191, 228, 1);}*/
a#logo{width:150px;height:56px;background:url(../img/logo.png) no-repeat 0 0;text-indent:-9999px;display:block;}
.logoTxt{ font-family: "Cookie"; font-size: 57px; color: #FFF; padding: 0; margin: 0; }
.logoTxtSlogan{ margin: -11px 0 0 0;padding: 0;color: #B0CFE9;font-family: Roboto;font-size: 12px;}
form.search{ margin-top: 10px; }
form.search input{ border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;border-width: 0;border-right-width: 1px; }
form.search button{ border-radius: 0 3px 3px 0; background: #FFFFFF; color: #5F5F5F; }
.divider_top{background:url(../img/top_divider.png) repeat-x center bottom;width:100%;height:37px;position:absolute;bottom:-8px;left:0;}
.divider_top_black{background:url(../img/top_divider_black.png) repeat-x center bottom;width:100%;height:37px;position:absolute;top:-30px;left:0;z-index:999;}
#sub-header{padding:30px 0 60px 0;color:#fff;position:relative;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);width:100%;background:#1582dc url(../img/bg_sub-header.png) repeat 0 0;}
#sub-header-2{padding:40px 0 30px 0;color:#949494;position:relative;width:100%;background:#1582dc url(../img/bg-sub-header-2.jpg);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#sub-header-2 h1{font-size:24px;color:#1582DC;text-shadow:none;font-family:roboto;line-height:30px;margin-top:0;font-weight:400;margin:11px 0;}
#sub-header-2 .description{padding:20px 20px;}
#sub-header_pattern_1{padding:30px 0 60px 0;color:#fff;position:relative;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);width:100%;background:#1abc9c url(../img/pattern_1.png) repeat center top;}
#sub-header_pattern_2{padding:30px 0 60px 0;color:#fff;position:relative;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);width:100%;background:#1abc9c url(../img/pattern_2.png) repeat center top;}
.main_content{padding:60px 0;background-color:#FCFCFC;}
.main_content_gray{padding:60px 0 30px 0;background-color:#fafafa;}
#announce{padding:60px 0;}
.modal-dialog{margin-top:20px;}
.modal-header .close{font-size:29px;outline:none;color:#FFF;opacity:1;text-shadow:0 1px 0 #000;}
.modal-header{background:#1290E0;color:#FFF;border:0}
.modal-content{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.modal-footer{background:#FFF;border-top:1px #CCC solid;}
p{margin-bottom:20px;}
blockquote.styled{line-height:20px;font-size:14px;font-style:italic;}
p.lead{font-size:17px;}
p.lead2{font-size:15px;margin-top:10px;}
p.lead.boxed{font-size:20px;display:inline-block;padding:3px 12px;}
a{color:#488dc6;text-decoration:none;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;}
a:hover,
a:focus{color:#000;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-family:'roboto', Arial, Helvetica, sans-serif;}
h1{text-transform:uppercase;font-weight:700;font-size:60px;margin:20px 0 0 0;padding:0;}
#subscribe h1{font-size:46px;margin-top:85px;}
.main_content h2, .main_content_gray h2{text-transform:uppercase;font-weight:400;font-size:36px;margin-top:0;}
#sub-header-features h1, #sub-header-features-2 h1{text-transform:uppercase;font-weight:400;font-size:72px;margin:20px 0 0 0;padding:0;}
#sub-header-features h2, #sub-header-features-2 h2{font-size:20px;font-weight:700;}
.main_content h2.plan-title{font-size:18px;font-weight:600;}
#sub-header-features p{font-size:15px;color:#75807d;font-weight:600;}
#sub-header-features-2 p{font-size:15px;font-weight:600;}
#sub-header-features p strong, #sub-header-features ul li strong{color:#5b6462;}
#sub-header-features ul{font-size:14px;color:#fff;font-weight:600;list-style:none;padding:0;margin:0;margin-bottom:20px;}
#sub-header-features p strong, #sub-header-features-2 p strong{color:#fff;}
#testimonials h2{text-transform:uppercase;color:#fff;font-size:60px;font-weight:normal;letter-spacing:5px;}
#main-features h2, #main-features_green h2{text-transform:uppercase;color:#fff;font-size:48px;font-weight:normal;letter-spacing:5px;margin-top:0;padding-top:0;}
.main_content .post h2{font-size:26px;line-height:28px;}
#main-features p.lead, #main-features_green p.lead{color:#fff;font-size:18px;margin-bottom:60px;}
#main-features h3, #main-features_green h3{color:#fff;font-size:18px;font-weight:700;}
.question_box h3{font-size:18px;text-align:left;line-height:22px;margin-bottom:10px;}
.box_style_1 h4{border-bottom:1px solid #eaeff3;padding-bottom:10px;text-transform:uppercase;font-weight: 600;}
#main-contact h3{margin-top:0;padding-top:0;}
.box-wp h3{font-size:36px;font-weight:400;}
.box-wp p.lead{font-weight:600;}
footer h3{font-size:30px;}
#nav-footer h4{text-transform:uppercase;font-size:18px;color:#666;}
ul.latest_news h5{margin:0 0 0 25px;padding:0;}
footer{background:#F5F5F5;color:#fff;width:100%;padding-top:30px;font-size:13px;}
#nav-footer{margin-bottom:30px;}
#nav-footer ul{list-style:none;padding:0;margin:10px 0 20px 0;}
ul#follow_us{list-style:none;padding:0;margin:10px 0 15px 0;}
ul#follow_us li{font-weight:600;}
#nav-footer ul li a{color:#A4A4A5;}
#nav-footer ul li a:hover, #nav-footer ul li a.active{color:#65E2F1;}
#nav-footer .nav-links{border-bottom:1px #E9E9E9 solid;}
#nav-footer img{margin-right:15px;}
#nav-footer h5{color:#666;}
ul#follow_us li{display:inline-block;margin-right:15px;}
ul#follow_us li a{width:34px;height:34px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:2px solid #c6c6c7;color:#c6c6c7;display:block;line-height:32px;font-size:18px;text-align:center;font-weight:normal;}
ul#follow_us li a:hover{border:2px solid #fff;color:#fff;}
#copy_right{background-color:#0099FF;padding:24px;color:#FFF;padding-bottom: 40px;}
footer hr{border-color:#2a2a2a;margin-top:60px;}
.phone{font-size:22px;color:#F66}
.btn-primary{color:#fff;background-color:#498DC7;border-color:#4781B3;border-radius:3px;padding:10px;}
a.button_top{border:none;margin-top:5px;background:#292929;color:#fff;font-size:11px;padding:5px 16px 2px 16px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;-webkit-font-smoothing:antialiased;}
a.button_top.exit{border:none;margin-top:5px;background:#DCDCDC;}
a.button_top.apply{border:none;margin-top:5px;background:#F66;}
a.button_top:hover{background:#30d9a4;color:#fff;}
a.button_medium, .button_medium{border:none;background:#50DE70;color:#fff;padding:7px 12px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;margin-bottom:20px;-webkit-font-smoothing:antialiased;}
a.button_medium:hover, .button_medium:hover{background:#262c2d;}
a.button_subscribe, .button_subscribe{border:none;background:#ffd200;color:#fff;padding:12px 20px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;margin-bottom:20px;-webkit-font-smoothing:antialiased;}
a.button_subscribe:hover, .button_subscribe:hover{background:#262c2d;}
a.button_subscribe_green, .button_subscribe_green{border:none;background:#30d9a4;color:#fff;padding:12px 20px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;margin-bottom:20px;-webkit-font-smoothing:antialiased;}
a.button_subscribe_green:hover, .button_subscribe_green:hover{background:#262c2d;}
a.button_medium_outline, .button_medium_outline{border:none;background:none;color:#1dd7b2;border:2px solid #1dd7b2;padding:5px 10px;text-decoration:none;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;-o-transition:.5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;margin-bottom:20px;-webkit-font-smoothing:antialiased;}
a.button_white, .button_white{padding:5px 10px;text-decoration:none;transition:.5s ease;-moz-transition:.5s ease;-webkit-transition:.5s ease;-o-transition:.5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:700;text-transform:uppercase;margin-bottom:20px;-webkit-font-smoothing:antialiased;border-color:#FFF;color:#000;padding:13px;background:#FFF;}
a.button_medium_outline:hover, .button_medium_outline:hover{color:#262c2d;border:2px solid #262c2d;}
a.button_big, .button_big{border:none;background:#30d9a4;color:#fff;font-size:30px;line-height:32px;padding:20px 50px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;outline:none;font-weight:800;text-transform:uppercase;-webkit-font-smoothing:antialiased;}
a.button_big:hover, .button_big:hover{background:#262c2d;}
.button_red_small, a.button_red_small,
.button_red_lg, a.button_red_lg,
.button_red, a.button_red{border:none;background:#ff6666;color:#fff;outline:none;padding:7px 12px;margin-bottom:15px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:700;font-size:11px;-webkit-font-smoothing:antialiased;}
.button_red_small, a.button_red_small{padding:2px 8px;}
.button_red_lg, a.button_red_lg{font-size:13px;padding:10px 30px;}
.button_red_small:hover, a.button_red_small:hover,
.button_red_lg:hover, a.button_red_lg:hover,
.button_red:hover, a.button_red:hover{background:#262c2d;}
a.button_fullwidth, .button_fullwidth{border:none;background:#30d9a4;color:#fff;outline:none;padding:7px 12px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:block;width:100%;cursor:pointer;font-weight:700;text-transform:uppercase;margin-bottom:5px;text-align:center;-webkit-font-smoothing:antialiased;}
a.button_fullwidth:hover, .button_fullwidth:hover{background:#262c2d;}
a.button_fullwidth-2, .button_fullwidth-2{border:none;background:#eafbf6;color:#333;outline:none;text-align:center;padding:7px 12px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:block;width:100%;cursor:pointer;font-weight:700;text-transform:uppercase;margin-bottom:5px;-webkit-font-smoothing:antialiased;}
a.button_fullwidth-2:hover, .button_fullwidth-2:hover{background:#262c2d;color:#fff;}
a.button_fullwidth-3, .button_fullwidth-3{border:none;background:#eafbf6;color:#333;outline:none;text-align:center;padding:15px 12px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;font-size:16px;display:block;width:100%;cursor:pointer;font-weight:700;text-transform:uppercase;margin-bottom:15px;-webkit-font-smoothing:antialiased;}
a.button_fullwidth-3:hover, .button_fullwidth-3:hover{background:#262c2d;color:#fff;}
.button_outline, a.button_outline{border:2px solid #1dd7b2;background:none;color:#1dd7b2;outline:none;padding:13px 24px 13px 24px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:600;font-size:16px;text-transform:uppercase;-webkit-font-smoothing:antialiased;outline:none;}
.button_outline:hover, a.button_outline:hover{background:#1dd7b2;color:#fff;}
.button_slider_red, a.button_slider_red{border:2px solid #FFF;background:#F14040;color:#FFFFFF;outline:none;padding:13px 24px 13px 24px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:600;font-size:16px;text-transform:uppercase;-webkit-font-smoothing:antialiased;outline:none;}
.button_slider_green, a.button_slider_green{border:1px solid #FFF;background:#92BD3F;color:#FFF;outline:none;padding:20px 50px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:100;font-size:15px;text-transform:uppercase;-webkit-font-smoothing:antialiased;outline:none;}
.button_slider_green:hover, a.button_slider_green:hover{background:#C0DF85;color:#FFF;}
.button_outline_white, a.button_outline_white{border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border:1px solid #FFF;background:none;color:#FFFFFF;outline:none;padding: 7px 8px 7px 9px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:600;font-size:11px;text-transform:uppercase;-webkit-font-smoothing:antialiased;outline:none;}
.button_outline_white.mobile{ background: #67DE80;color: #FFFFFF; border-color: #67DE80;}
.button_outline_white:hover, a.button_outline_white:hover{background:#FFF;color:#333;}
.button-fixes-bottom-fullwidth-green{position:fixed;bottom:-1px;width:95%;height:100px;font-size:30px;z-index:1;left:3%;border-radius:5px 5px 0 0;border:0;background:#88E96F;color:#FFF;}
a.button-fixes-bottom-fullwidth-green{padding:40px 25%;color:#FFF;}
.btn-filter{border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#09C;text-transform:uppercase;color:#fff;outline:none;padding:2px 8px 0 8px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;cursor:pointer;font-weight:600;font-size:11px;-webkit-font-smoothing:antialiased;}
.btn-filter:hover{background:#262c2d;}
.callToAction{text-transform:inherit !important;padding:14px 20px !important;font-size:17px !important;font-family:roboto !important;font-weight:400 !important;background:#50DE70 !important;}
.callToAction .label{white-space:initial;padding:6px 25px;font-family:roboto;font-size:17px;font-weight:400;margin-left:10px;background-color: #28B548;}
.callToAction:hover{background:#519660 !important;}
.home2 h1,h2,h4{font-family:"open sans";font-weight:100;}
.home2 h1{font-size:50px;}
.home2 h2{font-size:28px;line-height:38px;}
.home2 h4{font-size:20px;color:#9B9B9B;}
.home2 p{font-size:17px;color:#949494;}
.backward, .forward{border:none;color:#fff;padding:7px 20px;text-decoration:none;transition:background .5s ease;-moz-transition:background .5s ease;-webkit-transition:background .5s ease;-o-transition:background .5s ease;display:inline-block;cursor:pointer;font-weight:600;text-transform:uppercase;outline:none;background:#282828;position:relative;}
.backward{padding:7px 20px 7px 30px;}
button[disabled].backward, button[disabled].forward{border:none;background:#ccc;outline:none;}
.backward:before{content:"\f053";font-family:FontAwesome;text-decoration:inherit;position:absolute;font-weight:normal;top:8px;left:20px;text-transform:none;font-size:9px}
.forward{padding:7px 30px 7px 20px;}
.forward:before{content:"\f054";font-family:FontAwesome;text-decoration:inherit;position:absolute;font-weight:normal;top:8px;right:20px;text-transform:none;font-size:9px}
.backward:hover, .forward:hover{background:#00aeef;color:#fff;}
.bannercontainer{width:100%;position:relative;padding:0;}
.divider_top_black{background:url(../img/top_divider_black.png) repeat-x center bottom;width:100%;height:37px;position:absolute;top:-30px;left:0;z-index:999;}
.divider_top_green{background:url(../img/top_divider_green.png) repeat-x center bottom;width:100%;height:37px;position:absolute;top:-30px;left:0;z-index:999;}
#main-features{background:#1c1c1c url(../img/bg_sub-header_2.png) repeat 0 0;position:relative;color:#8c8c8c;font-weight:600;padding:60px 0;}
#main-features_green{background:#0cbdaa url(../img/bg_sub-header.png) repeat 0 0;position:relative;color:#fff;font-weight:600;padding:60px 0;}
.feature{padding-left:95px;position:relative;}
.feature i{margin:0;position:absolute;top:0;left:0;padding:0;margin:0;width:65px;height:65px;line-height:60px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:2px solid #fff;font-size:26px;color:#1abc9c;}
#main-features_green .feature i{margin:0;position:absolute;top:0;left:0;padding:0;margin:0;width:65px;height:65px;line-height:60px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:2px solid #fff;font-size:26px;color:#fff;}
#testimonials{background:#1abc9c url(../img/users_bg.jpg) repeat 0 0;padding:60px 0;color:#fff;}
.container_count{width:60px;display:inline-block;margin-right:5px;text-align:center;}
.container_count.last{margin-right:0;}
#countdown_wp{text-align:center;margin:30px 0 20px 0;}
#days, #hours, #minutes, #seconds{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #fff;text-align:center;width:60px;height:60px;font-size:24px;line-height:56px;font-family:"Helvetica Neue", Arial, sans-serif;font-weight:300;}
.benefits-course{background:#F7F7F7;border-bottom:1px #DDD solid;padding:40px 0;}
.benefits-course h4{font-weight:400;color:#666;font-family:roboto;}
.benefits-course .icon{margin-top:5px;margin-right:5px;color:#3E9DEC;font-size:22px;}
.benefits-course p{margin-bottom:0;}
.about-us-course-page{background:#3B424D url("../img/bg-grafico.png");padding:55px 0;background-position:center 0;background-repeat:no-repeat;}
.about-us-course-page h2{color:#FFF;font-family:roboto;font-weight:100;text-transform:inherit;font-size:45px;text-align:center;margin-top:0;margin-bottom:60px;}
.about-us-course-page h3, .about-us-course-page h3 span{color:#FFF;font-family:roboto;font-weight:100;font-size:25px}
.about-us-course-page .about-us-charts .progress{background-color:#6C717A;}
.about-us-charts h3, .about-us-charts h3 span{color: #969696;font-family:roboto;font-weight:300;font-size:20px}
.about-us-course-page .about-us-charts h3, .about-us-course-page .about-us-charts h3 span{color: #FFF;}
.about-us-charts .progress{height:4px;background-color:#F6F6F6;-webkit-box-shadow:none;box-shadow:none;}
.about-us-charts .progress .progress-bar-success{background-color:#99CC66;}
.cat_row{background:#f8f8f8;padding:7px 7px 5px 7px;font-size:12px;font-weight:600;}
.cat_row .pull-right{color:#999;}
.cat_row i{font-size:14px;margin-left:5px;margin-right:2px;}
.cat_row a:hover{text-decoration:none;}
.ribbon_course{position:absolute;left:-5px;top:-5px;display:block;width:99px;height:97px;background:url(../img/ribbon.png) no-repeat;}
.ribbon_course_gratis{position:absolute;left:-5px;top:-5px;display:block;width:99px;height:97px;background:url(../img/taxa-curso-gratis.png) no-repeat;}
.col-item{border:1px solid #ededed;background:#FFF;margin-bottom:25px;position:relative;box-shadow:0 2px 0px 0px #F6F6F6;}
.col-item .photo img{margin:0 auto;width:100%;}
.col-item .info{padding:10px;border-radius:0 0 5px 5px;margin-top:1px;}
.col-item .course_info{margin-top:5px;}
.col-item .course_info h4{line-height:20px;margin:0 0 10px 0;font-size:1em;}
.course_info .description{font-size:13px;line-height:18px;}
.col-item .course_info .price{text-align:center;line-height:14px;margin-bottom:12px;}
.col-item .course_info .price i{font-size:11px;font-weight: 300}
.col-item .course_info .price .priceParceled{font-weight:bold;color:#69C232;font-size:22px;font-family:open sans;}
.col-item .course_info .price .fullPrice{display:block;font-weight: 300}
.rating{color:#FC0;margin-top:10px;}
.price{margin-top:10px;font-weight:700;color:#999;font-size:16px;}
.col-item .info .rating{color:#1777;}
.col-item .rating{float:left;font-size:12px;text-align:left;margin-bottom:20px;}
.col-item .separator{border-top:1px solid #ededed;}
.col-item .separator p{line-height:20px;margin-bottom:0;margin-top:10px;text-align:center;margin-right:5px;}
.col-item .btn-add{width:50%;float:left;}
.col-item .btn-add{border-right:1px solid #ededed;}
.col-item .btn-details{width:45%;float:left;padding-left:10px;}
#search-form{margin-top:15px;position:relative;}
#search-form input{font-weight:600;}
#search-form .input-group{border:5px solid rgba(255, 255, 255, 0.5);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#search-form .btn{height:44px;text-align:center;border:0;margin:0;font-size:22px;outline:none;}
#search-form .btn i{margin-left:5px;margin-right:5px;}
.adv_search a{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-top-left-radius:3px;border-top-right-radius:3px;position:absolute;left:10px;top:-15px;background-color:#f8f8f8;padding:0px 10px;font-size:11px;color:#333;margin:0;}
.adv_search a:hover{color:#fff;background:#488dc6;}
.autocomplete-suggestions{border:1px solid #ccc;background:#FFF;cursor:default;overflow:auto;-webkit-box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64);-moz-box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64);box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64);}
.autocomplete-suggestion{padding:2px 5px;white-space:nowrap;overflow:hidden;cursor:pointer;}
.autocomplete-selected{background:#F0F0F0;}
.autocomplete-suggestions strong{font-weight:normal;color:#3399FF;}
.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;height:auto;}
.embed-container iframe, .embed-container object, .embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
.sb-search.sb-search-open,
.no-js .sb-search{width:100%;}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search{background:#1c1c1c;color:#fff;z-index:11;}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit{z-index:90;}
.carousel-caption {position: absolute;right: 20%;left: 10%;padding-bottom: 30px;top: 28%;z-index: 10;padding-top: 20px;padding-bottom: 20px;color: #fff;text-align: left;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.carousel-caption h2{ font-size: 60px; font-weight: 600; }
.carousel-caption h3{ font-size: 32px; font-weight: 300;}
.carousel-caption .description{ display: block;float: left;background: rgba(64, 95, 100, 0.71);padding: 0 30px;border-radius: 5px; }
.carousel-caption .description p.large{font-size: 17px; line-height: 28px;}
.carousel-caption .description .btn{ padding: 10px 30px; border-radius: 3px; font-size: 16px; }
.carousel-caption2{ top: 10%;  }
.carousel-caption3{ top: 9%;  }
.carousel-caption .description2{ background: rgba(64, 95, 100, 0.91) }
.carousel-caption .description p{ font-size: 15px; }
.carousel-caption .description img{ width: 90px; height: 90px; margin-top: 12px }
.contentMyNumbersTop h3{ margin-top: 0;margin-bottom: 20px;color: #F7FC8D;font-weight: 300; }
.contentMyNumbersTop .quote-carousel{ padding: 0; margin: 0 0 26px 0px; font-weight: 600; color: #FFF }
.contentMyNumbersTop .quote-carousel .carousel-indicators li { background: #1582DC; border: 1px #FFFFFF solid; }
.contentMyNumbersTop .quote-carousel .carousel-indicators {margin-top: 50px;}
.contentMyNumbersTop .quote-carousel .carousel-indicators .active{ background: #FFF; }
.contentMyNumbersTop .quote-carousel .carousel-inner h3{ font-size: 70px;font-weight: 100;font-family: roboto;margin-bottom: 0;color: #FFF; }
.contentMyNumbersTop .quote-carousel .carousel-inner h4{ font-size: 30px;font-weight: 100;font-family: roboto;margin-bottom: 0;color: #FFF; }
.error_page .code{ width: 230px;height: 230px;background: #FF9966;border-radius: 117px;margin: 0 auto; padding: 60px 35px; font-size: 100px; color: #FFF; font-weight: 100; }
.error_page h1,.error_page h3{ color: #666666; font-family: roboto; font-weight: 300 }
.error_page h1{ margin-bottom: 30px; }
.error_page h3 {margin-bottom: 6px; margin-top: 0;}
.error_page .input-group{margin-top: 80px;margin-bottom: 60px;}
.error_page .form-control{ background: #F96; border-radius: 35px; padding: 24px 26px; color: #FFF; border: none; }
.error_page .form-control:focus{ box-shadow: none; color: #FFF; }
.error_page .form-control::-webkit-input-placeholder {color: #fff;}
.error_page .form-control:-moz-placeholder{color: #fff;}
.error_page .form-control::-moz-placeholder {color: #fff;}
.error_page .form-control:-ms-input-placeholder {color: #fff;}
.error_page .input-group-btn{ border: none; border-radius: 33px; }
.error_page .input-group-btn .btn{background: #F96;border-radius: 0 30px 30px 0;height: 48px;padding: 4px 7px;}
.error_page .input-group-btn .btn span{background: #FFF;padding: 13px;border-radius: 22px;color: #000;}
#subscribe_home{background-color:#0aa090;padding:30px 30px 0 30px;margin-top:30px;}
#subscribe_home input, #subscribe_home .styled-select{-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.3);-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.3);box-shadow:2px 2px 5px rgba(0,0,0,0.3);}
#subscribe{background:url(../img/arrow_hand_1.png) no-repeat center bottom;padding-bottom:70px;}
.video{margin-top:30px;}
ul.social_team{list-style:none;padding:0;margin:5px 0 5px 0;font-size:16px;}
ul.social_team li{display:inline-block;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:1px solid #ededed;width:30px;height:30px;line-height:30px;text-align:center;}
.thumbnail{border:none;border-radius:0px;box-shadow:none;display:block;line-height:0px;-moz-border-radius:0px;-moz-box-shadow:none;-moz-transition:all 0.2s ease-in-out;o-transition:all 0.2s ease-in-out;padding:0px;transition:all 0.2s ease-in-out;-webkit-border-radius:0px;-webkit-box-shadow:none;-webkit-transition:all 0.2s ease-in-out;}
.caption{background:#f2f2f2;}
.transit-to-top{height:60px;overflow:hidden;width:100%;cursor:pointer;}
.transit-to-top h4{text-align:center;moz-transition:all 0.3s ease-in-out;o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;margin:20px 0 0 0;padding:0;}
.thumbnail:hover h4{margin-top:-40px;}
.p-title{display:block;height:40px;}
.widget_nav_menu{min-height:100%;height:100%;text-align:center;}
.project-item-image-container{border:none;cursor:pointer;height:100%;position:relative;width:100%;}
.project-item-image-container:hover, .project-item:hover .project-item-image-container{filter:alpha(opacity=100);-moz-transition:background-color 0.2s ease-out, color 0.1s ease-out;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;-o-transition:background-color 0.2s ease-out, color 0.1s ease-out;transition:background-color 0.2s ease-out, color 0.1s ease-out;-webkit-transition:background-color 0.2s ease-out, color 0.1s ease-out;}
.project-item-image-container > img{width:100%!important;}
.phone-info{display:inline-block;margin:5px 0px 0 0;width:100%;text-align:center;}
ul.social-bookmarks.team{float:none;margin:0;padding:0;margin:auto;display:inline-block;}
.question_box{padding-left:40px;position:relative;margin-bottom:30px;}
.question_box:before{content:"\ec7e";font-family:'fontello';font-style:normal;font-weight:normal;text-decoration:inherit;font-size:30px;position:absolute;color:#999;top:5px;left:0;}
ul.submenu-col{list-style:none;margin:0;padding:0;font-weight:100;font-size:14px;}
ul.submenu-col li a{text-decoration:none;padding: 7px 10px;display:block;font-weight:100;}
ul.submenu-col li:last-child{margin-bottom:20px}
ul.submenu-col li a#active{background:#5FC1D7 url(../img/arrow.png) no-repeat 96% center;color:#fff;}
ul.submenu-col li a:hover{background:#efefef;color:#111;}
ul.submenu-col li.border{ border-bottom: 1px #EFEFEF solid; }
.filterable .panel-heading .pull-right{margin-top:-20px;}
.filterable .filters input[disabled]{background-color:transparent;border:none;cursor:auto;box-shadow:none;padding:0;height:auto;margin:0;font-weight:600;}
.filterable .filters input[disabled]::-webkit-input-placeholder{color:#333;}
.filterable .filters input[disabled]::-moz-placeholder{color:#333;}
.filterable .filters input[disabled]:-ms-input-placeholder{color:#333;}
.panel-info{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
#login_bg{background:#FCFCFC;padding:80px 0;}
#wizard_bg{background:#008b80 url(../img/bg_sub-header.png) repeat 0 0;padding:60px 0;}
#login{background-color:#FFFFFF;box-shadow:0 0 5px 0 #E2E2E2;padding:30px;padding:30px;}
#newUserTop{ position: absolute; z-index: 100; top: 0; right: 187px; bottom: 0; height: 100%; background: #FFF; box-shadow: 8px 0 0 0px rgba(255, 255, 255, 0.5),-8px 0px 0px rgba(255, 255, 255, 0.5); -webkit-box-shadow: 8px 0 0 0px rgba(255, 255, 255, 0.5),-8px 0px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: 8px 0 0 0px rgba(255, 255, 255, 0.5),-8px 0px 0px rgba(255, 255, 255, 0.5); }
.text-danger.hard,.text-success.hard{font-weight: 700;}
.text-danger.hard{color:#FF0500;}
.text-success.hard{color:#50CF52;}
label.label_gender{padding-left:50px;line-height:42px;}
ul.floated li#age{width:100px;margin-right:55px;}
ul.data-list{padding:0;margin:0;list-style:none;margin-bottom:30px;}
ul.data-list-2{list-style:none;padding-left:0;margin-left:0;}
ul.data-list li{position:relative;}
ul.data-list-2 li{position:relative;height:42px;margin-bottom:15px;width:100%;display:block;}
ul.data-list-2 li label{float:left;margin-left:60px;font-size:18px;font-weight:400;margin-top:9px;line-height:22px;}
ul.data-list#terms{font-weight:400;line-height:22px;margin:0;font-size:12px;padding:0;text-align:center;}
label.error{font-size:11px;position:absolute;top:-28px;right:-15px;z-index:99;height:25px;line-height:25px;background-color:#e34f4f;color:#fff;font-weight:normal;padding:0 6px;}
label.error:after{content:'';position:absolute;border-style:solid;border-width:0 6px 6px 0;border-color:transparent #e34f4f;display:block;width:0;z-index:1;bottom:-6px;left:20%;}
.styled-select label.error{overflow:visible;}
ul.floated li#age label.error{right:-15px;}
ul.floated li label.error{right:-50px;}
ul.data-list#terms li label.error{left:45%;display:inline-block;width:80px;}
ul.data-list-2 li label.error{font-size:11px;position:absolute;top:-30px;right:-10px;margin:0;z-index:99;height:25px;line-height:25px;background-color:#e34f4f;color:#fff;font-weight:normal;padding:0 6px;}
ul.teacher_courses{list-style:none;margin:0;padding:0;margin-bottom:20px;}
.video_course{width:100%;height:400px;}
#strips-course{padding:60px 0;}
#strips-course article h3{font-size:28px;font-weight:800;text-transform:uppercase;}
#strips-course article h3 em{font-size:21px;font-weight:400;text-transform:none;font-style:normal;display:block;color:#999;}
#strips-course article{padding:30px 0;}
#strips-course.style_2 article{padding:30px 0;border-bottom:1px dashed #ededed;}
#strips-course.shadow article:nth-of-type(odd){background-color:#fdfdfd;box-shadow:inset 0px 11px 8px -10px #f8f8f8,inset 0px -11px 8px -10px #f8f8f8;}
ul.data-lessons{margin-left:0;padding-left:0;margin-bottom:30px;}
ul.data-lessons li{display:inline-block;margin-right:5px;padding-right:8px;border-right:1px solid #ccc;line-height:16px;color:#777;zoom:1;*display:inline;}
ul.data-lessons li a{color:#777;}
ul.data-lessons li a:hover{color:#111;}
ul.data-lessons li:last-child{border-right:none;}
ul.data-lessons li a.button_red_small{color:#fff;}
.post{margin-bottom:45px;}
.post img{margin-bottom:18px;}
.post_info{padding:10px 0;border-bottom:1px #e7e7e7 solid;border-top:1px #e7e7e7 solid;margin-bottom:12px;color:#555;}
.post_info span{color:#ff6666;}
.post-left{float:left;}
.post-left ul{margin-left:0;padding-left:0;}
.post-left ul li{float:left;margin-right:10px;list-style:none;}
.post-right{float:right;}
#comments{padding:10px 0 0px 0;margin-bottom:15px;}
#comments ul{padding:0;margin:0;list-style:none;}
#comments ol{padding:0;margin:0;list-style:none;}
#comments li{padding:0 0 23px 0;list-style:none;}
.avatar{float:left;margin-right:11px;}
.avatar img{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.comment_right{display:table;}
.comment_info{padding-bottom:7px;}
.comment_info span{padding:0 12px;}
#comments ol li ul li{padding:23px 0 0 30px;margin:0;}
#map{width:100%;height:450px;}
#directions{background-color:#0cbdaa;padding:22px 0 0 0;}
ul#contact-info{list-style:none;margin:0 0 20px 0;padding:0;}
ul#follow_us_contacts{list-style:none;padding:0;margin:10px 0 20px 0;}
ul#follow_us_contacts li{position:relative;padding-left:45px;height:34px;line-height:34px;margin-bottom:15px;}
ul#follow_us_contacts li a i{position:absolute;left:0;top:0;width:34px;height:34px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:2px solid #c6c6c7;color:#c6c6c7;display:block;line-height:32px;font-size:18px;text-align:center;font-weight:normal;}
ul#follow_us_contacts li a:hover i{border:2px solid #333;color:#333;}
.box_style_2{background:#f9f9f9;border:1px solid #f3f3f3;padding:30px;position:relative;}
.tape{position:absolute;left:0;top:-20px;height:45px;width:100%;background:url(../img/tape.png) no-repeat center top;display:block;}
.media.list_news{border-top:1px dashed #ededed;padding-top:20px;}
.styled-select select{background:transparent;width:107%;padding:5px;padding-left:15px;border:0;border-radius:0;height:41px;margin:0;font-weight:400;-moz-appearance:window;-webkit-appearance:none;cursor:pointer;color:#999;}
.styled-select{width:100%;overflow:hidden;height:44px;background:#fff url(../img/down_arrow_select.png) no-repeat right center;border:1px solid #ededed;margin-bottom:25px;}
.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand{display:none;}
.input-icon{position:absolute;right:8px;top:10px;width:32px;height:24px;background-color:#fff;text-align:right;border-left:1px solid #ececec;color:#ccc;font-size:18px;line-height:24px;text-shadow:none;}
.item-search{display:block;padding:10px}
.item-search:hover{background:#F7F7F7;}
.input-icon i{color:#ccc;font-size:18px;line-height:24px;}
.form-group{position:relative;margin-bottom:10px;}
.loader{margin-left:5px;position:absolute;}
.error_message{color:#F33;font-weight:600;margin-bottom:4px;}
.input-group{margin-bottom:20px;}
.form-control{height:38px;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;}
.form-control.style-2{height:45px;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;border:none;background-color:#fff;}
.ie8 .form-control.style-2{height:45px;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;border:none;background-color:#fff;line-height:45px;}
.input-group button{height:45px;border:none;background-color:#333;color:#fff;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.input-group button:hover{background-color:#006db8;color:#fff;border:none;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;border:none;}
.input-group button:focus{outline:none;border:none;}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control::-webkit-input-placeholder{color:#999;}
input.form-control, textarea.form-control{background:none;background-color:#fff;border:1px solid #ececec;border-radius:0;-webkit-appearance:none;-webkit-border-radius:0;-moz-border-radius:0;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;color:#a0a0a0;height:45px;font-size:14px;font-weight:300;margin-bottom:10px;font-family:'roboto';line-height:1.428571429;padding:6px 12px;}
input.form-control:focus, textarea.form-control:focus, select.form-control:focus{border-color:none;outline:0;-webkit-box-shadow:none;box-shadow:none;color:#555;}
#divnewsletter{background:#09F;padding:15px;text-align:center;color:#FFF;}
#divnewsletter h3{font-family:open sans;margin-bottom:10px;}
#submit-newsletter{background:#2B5F7D;color:#FFF;border:0;padding:10px;margin-left:-6px;border-radius:0 2px 2px 0px;}
#message-newsletter{display:none;margin:5px 136px 0 136px;padding:10px;}
#message-newsletter.danger{background:#E64848;color:#FFF;}
#message-newsletter.success{background:#E64848;color:#FFF;}
#message-newsletter.show{display:block;}
input.form-control#email_newsletter{margin-bottom:0;border:none;height:40px;width:380px;padding-left:25px;color:#666;margin-top:-3px;border-radius:2px;}
input.form-control#email_newsletter:focus{border-color:none;outline:0;-webkit-box-shadow:none;box-shadow:none;}
label{font-weight:600;}
label.error{font-size:11px;position:absolute;top:-28px;right:-15px;z-index:9;height:25px;line-height:25px;background-color:#e34f4f;color:#fff;font-weight:600;padding:0 6px;}
label.error:after{content:'';position:absolute;border-style:solid;border-width:0 6px 6px 0;border-color:transparent #e34f4f;display:block;width:0;z-index:1;bottom:-6px;left:20%;}
.login-or{position:relative;font-size:18px;color:#aaa;margin-top:10px;margin-bottom:10px;padding-top:10px;padding-bottom:10px;}
.login_social{margin-bottom:5px;}
.span-or{display:block;position:absolute;left:50%;top:-2px;margin-left:-25px;background-color:#FCFCFC;width:50px;text-align:center;}
.hr-or{height:1px;margin-top:0px !important;margin-bottom:0px !important;}
.ribbon_2{width:99px;height:97px;position:absolute;left:-5px;top:-5px;display:block;background:url(../img/ribbon.png) no-repeat 0 0;z-index:101;}
ul.user_panel{list-style:none;margin:10px 0 0 0;padding:0;font-size:12px;}
ul.user_panel a.dropdown-toggle{color:#fff;}
.rating_2{color:#FC0;}
.box_style_1.profile{padding-top:30px;}
.profile ul{text-transform:none;font-size:14px;list-style:none;padding:0;margin:0 0 20px 0;}
.profile ul li{border-bottom:1px solid #ededed;padding:5px 0;}
.profile ul li:last-child{border-bottom:none;}
#payment_opt{padding-top:25px;padding-bottom:15px;}
#payment_opt .radio-inline{margin-bottom:15px;margin-left:0;}
.payment_logos{margin:-10px 15px 0 0;}
#profile,#agenda{padding-top:20px;}
ul.social_teacher{list-style:none;padding:0;margin:5px 0 15px 0;font-size:16px;text-align:center;}
ul.social_teacher li{display:inline-block;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:1px solid #ededed;width:30px;height:30px;line-height:20px;text-align:center;}
ul.list_3{list-style:none;margin:0;padding:0;}
ul.list_3 li{margin-bottom:0;position:relative;padding-left:20px;}
ul.list_3 li:before{font-family:"fontello";content:"\ea3e";position:absolute;left:0;top:0;}
html #boxed{width:1170px;margin:auto;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px#000;box-shadow:0 0 5px #000;}
body#boxed{background:#999 url(../img/pattern_1.png) repeat;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background-color:#FCFCFC;}
.add_bottom_30{margin-bottom:30px;}
.add_bottom_45{margin-bottom:45px;}
.add_bottom_60{margin-bottom:60px;}
.breadcrumb{background:#FCFCFC;font-size:12px;border-radius:3px;padding:0;}
#join{background:url(../img/pattern_2.png) repeat 0 0;padding:60px 0;-moz-box-shadow:inset 0 0 10px #000000;-webkit-box-shadow:inset 0 0 10px #000000;box-shadow:inset 0 0 10px #000000;}
ul.list_po_body{padding:0 0 0 0;margin:0;list-style:none;}
p.no_margin{padding:0;margin:0;}
.box_style_1{padding:15px 25px 5px 25px;box-shadow:inset 0 0 0 1px #e0e5e9;border:5px solid #F5F5F5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-bottom:30px;font-size:13px;line-height:20px;background-color:#fff;}
img.speaker{width:50px;height:50px;margin-left:15px;border:1px solid #fff;}
.box_style_3{position:relative;margin:0 0 2em 0;text-align:center;background:#fff;padding:30px 30px 10px 30px;border:1px solid #ededed;}
.box_style_4{padding:10px;box-shadow:0 0 0px 6px rgba(224, 229, 233, 0.52);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:1px;margin-bottom:30px;font-size:14px;line-height:20px;background-color:#fff;}
.box-call-to-action-course h2{font-family:roboto;text-transform:inherit;font-weight:200;margin-bottom:22px;}
.quote-carousel{padding:0 10px 30px 10px;margin-top:30px 0px 0px;font-weight:600;}
.quote-carousel small{color:#fff;font-style:italic;}
.carousel-indicators li, .carousel-indicators .active{width:16px;height:16px;margin:auto;}
.quote-carousel .carousel-contro{background:none;color:#222;font-size:3em;text-shadow:none;margin-top:30px;}
.quote-carousel .carousel-control.left{left:-12px;}
.quote-carousel .carousel-control.right{right:-12px !important;}
.quote-carousel .carousel-indicators{right:50%;top:100%;bottom:0px;margin-right:-19px;}
.quote-carousel .carousel-indicators li{background:#fff;border:1px #000 solid;}
.quote-carousel .carousel-indicators .active{background:#1c1c1c;}
.quote-carousel img{width:100px;height:100px}
.carousel-course .carousel-indicators li{background:#fff;border:1px #666 solid;}
.carousel-course .carousel-indicators .active{background:#666;}
.carousel-course img{width:65px;height:70px;margin-right:10px}
.carousel-course .item blockquote h4{color:#666;text-transform:uppercase;margin-top:0}
.carousel-course .item blockquote p{font-size:15px;color:#666;}
.item blockquote{border-left:none;margin:0;padding:10px 0px;}
.item blockquote img{margin-bottom:10px;}
.toTop{width:100px;border:1px solid #ccc;background:#f7f7f7;text-align:center;padding:5px;position:fixed;bottom:45px;right:10px;cursor:pointer;display:none;color:#333;font-size:11px;}
.img-circle.styled{background-color:#ededed;-moz-box-shadow:0px 0px 0px 5px #ededed;-webkit-box-shadow:0px 0px 0px 5px #ededed;box-shadow:0px 0px 0px 5px #ededed;margin:auto;}
.panel-title a{display:block;}
.tab-content{padding-top:15px;}
ul.latest_news{list-style:none;margin:0 0 0 0;padding:0;}
ul.latest_news li{margin-bottom:15px;}
ul.list_ok{list-style:none;margin:0;padding:0;}
ul.list_ok li{margin-bottom:0;position:relative;padding-left:20px;}
ul.list_ok li:before{font-family:"fontello";content:"\e81a";position:absolute;left:0;top:0;}
.label-warning{font-family:Arial, Helvetica, sans-serif;font-size:11px;padding:5px 7px 4px 7px;background-color:#ffcc00;}
.label-success { font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 5px 7px 4px 7px; background-color: #50DE70 }
.media-body{padding-left:10px;}
.legend{width:10em;}
.legend .title{display:block;margin:0.5em;border-style:solid;border-width:0 0 0 1em;padding:0 0.3em;}
#courses .mix{display:none;}
@media (min-width:1201px){#middle-wizard{padding:40px 60px 35px 60px;}
.itemOfListAll .course_info h4{height: 60px;font-weight: 600;margin-bottom: 0;}
.itemOfListAll .course_info .description{height:100px;overflow:hidden;}
.itemOfListAll figcaption{position: absolute;top: 32px;background: rgba(121, 230, 129, 0.88);width: 100%;padding: 10px;color: #FFF;}
}
@media (min-width:768px) and (max-width:1200px){
#middle-wizard{padding:40px 60px 35px 60px;}
ul.floated li#age{margin-right:20px;}
#boxed{width:980px;}
.itemOfListAll .course_info h4{height: 70px;margin-bottom: 0;font-size: 12px;font-weight: 600;}
.itemOfListAll .course_info p{height:158px;overflow:hidden;}
.itemOfListAll figcaption{position: absolute;top: 32px;background: rgba(121, 230, 129, 0.88);width: 100%;padding: 10px;color: #FFF;}
}
@media (min-width:768px) and (max-width:979px){.quote-carousel{margin-bottom:0;padding:0 40px 30px 40px;margin-top:30px;}
.plan-tall + .plan{border:solid #dddddd 1px;}
.plan-tall{margin-right:0;}
.col-md-4.plan:first-child{margin-right:0;margin-left:0;border-right:solid #dddddd 1px;}
html #boxed{width:760px;}
.col-item a{font-size: 12px;}
}
@media (max-width:767px){.quote-carousel .carousel-indicators{bottom:-20px !important;}
.quote-carousel .carousel-indicators li{display:inline-block;margin:0px 5px;width:15px;height:15px;}
.quote-carousel .carousel-indicators li.active{margin:0px 5px;width:20px;height:20px;}
input.form-control#email_newsletter{width:80%;margin:auto;margin-bottom:15px;}
ul.floated li#age{margin-bottom:-10px;}
ul.floated li{float:none;margin:0;padding:0;width:50%;padding-bottom:10px;}
.col-md-4.plan:first-child,
.col-md-4.plan:last-child{margin-right:0px;margin-left:0px;border-width:1px 1px 1px 1px;-moz-box-sizing:border-box;box-sizing:border-box;}
.plan-tall + .plan{border-left:1px;border:solid #dddddd;}
.plan-tall{margin-right:0;}
.main_content .post h2{font-size:20px;line-height:22px;}
.post-right{float:none;}
.post-left ul li{float:none;margin-right:0;margin-bottom:3px;}
p.lead.boxed{font-size:22px;line-height:24px;padding:8px;}
ul.user_panel{margin:8px 45px 0 0;}
html #boxed{width:100%}
.itemOfListAll .course_info h4{height: 60px;font-weight: 600;margin-bottom: 0;}
.itemOfListAll figcaption{position: absolute;top: 32px;background: rgba(121, 230, 129, 0.88);width: 100%;padding: 10px;color: #FFF;}
.itemOfListAll a{font-size: 11px;}
.benefits-course .col-md-3{width:50%;float:left;margin-bottom:15px;}
.benefits-course h4{font-family:open sans;}
a.button_medium{text-align:center}
.callToAction .label{float:left;margin-left:0;margin-top:10px;width:100%;}
header ul li:last-child{ background: none; }
.error_page .code{line-height: 90px;}
}
@media (max-width:480px){.col-item .info .rating{font-size:12px}
a#logo{width:59px;height:56px;background:url(../img/logo_mobile.png) no-repeat 0 0;}
h1{font-size:36px;line-height:38px;margin-bottom:10px;}
.main_content h2, .main_content_gray h2{font-size:24px;}
#testimonials h2{font-size:28px;}
p.lead.boxed{font-size:14px;line-height:16px;padding:8px;}
footer h3{font-size:22px;line-height:24px;}
#top-wizard{padding:15px 30px;}
#bottom-wizard{padding:15px 30px;}
.backward, .forward, button[disabled].backward, button[disabled].forward{text-indent:-9999px;width:50px;padding:0;height:40px;}
.backward:before, .forward:before, button[disabled].backward:before, button[disabled].forward:before{text-indent:0;top:12px;font-size:16px;}
#login_bg{padding:30px 0;}
.video_course{width:100%;height:200px;}
#sub-header{padding:10px 0 60px 0;}
#sub-header-features p{font-size:14px;}
#sub-header-features-2 p{font-size:14px;}
.itemOfListAll .course_info h4{height:70px;font-size:0.9em;font-weight:6a#logo00;}
.itemOfListAll figcaption{position: absolute;top: 32px;background: rgba(121, 230, 129, 0.88);width: 100%;padding: 10px;color: #FFF;}
.itemOfListAll a{font-size: 11px;}
.benefits-course .col-md-3{width:100%;float:left;margin-bottom:15px;}
.benefits-course h4{font-family:open sans;}
.benefits-course p{display:none;}
.benefits-course .icon i{color:#7A7A7A;}
a.button_medium{text-align:center}
.callToAction .label{float:left;margin-left:0;margin-top:10px;width:100%;}
}
.sf-menu{margin:0;padding:0;list-style:none;position:relative;}
ul.sf-menu li.normal_drop_down ul{margin:0;padding:0;list-style:none;border:1px solid rgb(225, 225, 225);}
.sf-menu li.normal_drop_down{position:relative; height: 75px}
ul.sf-menu li ul{position:absolute;display:none;top:100%;left:0;z-index:99;}
.sf-menu > li{float:left;}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul{display:block;}
.sf-menu a{display:block;position:relative;}
.sf-menu ul ul{top:0;left:100%;}
.sf-menu{margin-bottom:0;text-transform:uppercase;font-size:12px;font-weight:600;}
.sf-menu ul{min-width:12em;*width:12em;}
.sf-menu a{padding:1.9em 1.9em;text-decoration:none;zoom:1;color:#fff;font-weight:100}
.sf-menu a#sign_in{background-color:#252525;}
.sf-menu li{white-space:nowrap;*white-space:normal;-webkit-transition:background .2s;transition:background .2s;}
ul.sf-menu li a{color:#fff;}
ul.sf-menu li a:hover{color:#FFFFFF;outline:none;}
.sf-menu ul li{background:#111;min-width:200px;}
.sf-menu ul li a{background:#F6F6F6;min-width:200px;padding:0.9em 1.8em;color:#878787;}
.sf-menu ul li a:hover{background:#7EBEDF;color:#FCFCFC;outline:none;}
.sf-menu ul ul li{background:#111;}
.sf-menu li:hover,
.sf-menu li.sfHover{background:rgba(93, 168, 230, 1);-webkit-transition:none;transition:none;color:#fff;}
.sf-arrows .sf-with-ul{padding-right:2.5em;*padding-right:1em;}
.sf-arrows .sf-with-ul:after{content:'';position:absolute;top:50%;right:1em;margin-top:-3px;height:0;width:0;border:5px solid transparent;border-top-color:#fff;border-top-color:rgba(255,255,255,.5);}
.sf-arrows ul .sf-with-ul:after{margin-top:-5px;margin-right:-3px;border-color:transparent;border-left-color:#30d9a4;border-left-color:rgba(255,255,255,.5);}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{border-left-color:white;}
#mobnav-btn:before{display:none;font-family:"fontello";content:"\e874";font-size:24px;width:24px;height:24px;color:#FFF;cursor:pointer;}
.mobnav-subarrow{display:none;}
.sf-menu .sf-mega{position:absolute;display:none;top:45px;left:0;z-index:9999;background:#111;padding:30px;box-sizing:border-box;width:100%;}
.sf-menu .sf-mega ul.mega_submenu{display:block;float:none;width:100%;position:inherit;padding:0;margin:0;list-style:none;}
.sf-menu .sf-mega ul.mega_submenu li{border-bottom:1px dotted #333;text-transform:none;font-size:14px;}
.sf-menu .sf-mega ul.mega_submenu li a{color:#b7b7b7;}
.sf-menu .sf-mega ul.mega_submenu li a:hover{color:#000;}
.sf-menu .sf-mega ul.mega_submenu li:last-child{border-bottom:none;}
ul.mega_submenu li i{margin-left:0;padding-left:0;text-align:left;}
.sf-mega h5{border-bottom:1px solid #333;padding-bottom:8px;margin-bottom:0;font-weight:600;}
ul.mega_submenu.icons li{position:relative;}
ul.mega_submenu.icons li i{position:absolute;right:25px;}
@media (max-width:979px){
    #mobnav-btn{position:absolute;top:22px;right:20px;width:20px;height:20px;cursor:pointer;}
    #mobnav-btn:before{display:block;}
    .mobnav-subarrow{display:block;height:47px;width:100%;background-position:top left!important;position:absolute;top:0;right:0;cursor:pointer;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;}
    .sf-menu .sf-mega{padding:10px;}
    .sf-arrows .sf-with-ul:after{top:50%;right:20px;}
    .sf-menu{width:100%!important;display:none;}
    .sf-menu.xactive{display:block!important;}
    .sf-menu li{float:none!important;display:block!important;width:100%!important;}
    .sf-menu li a{float:none!important;}
    .sf-menu ul{position:static!important;display:none!important;}
    .sf-mega{position:static!important;display:none!important;}
    .xpopdrop ul{display:block!important;}
    .xpopdrop .sf-mega{display:block!important;}
    .mega_drop_down{position:relative;}
}